In [1]:
# Import sys to modify the Python path
import sys

# Add the folder containing the module to the Python path
sys.path.insert(1, r'src\data')

# Import the main function from the module
import cleaning_data

character_metadata_path = 'data/raw_data/character.metadata.tsv'
movie_metadata_path = 'data/raw_data/movie.metadata.tsv'
ethnicity_map_path = 'data/raw_data/fb_wiki_mapping.tsv'

# Call the main function
final_cleaned_data, box_office_df = cleaning_data.main(movie_metadata_path, character_metadata_path, ethnicity_map_path)

# Preview the cleaned data
if final_cleaned_data is not None:
    display(final_cleaned_data)

Cleaned data saved to data/preprocess_data/clean_dataset.csv

,Wikipedia_movie_ID,Movie_release_date,Actor_ethnicity,Movie_name,Movie_runtime,Movie_languages,Movie_countries
10,3196793,2000,African Americans,Getting Away with Murder: The JonBenét Ramsey ...,95.0,English Language,United States of America
57,18768079,1938,Jewish people,Fast Company,75.0,English Language,United States of America
59,612710,1999,Italians,New Rose Hotel,92.0,English Language,United States of America
60,612710,1999,German Americans,New Rose Hotel,92.0,English Language,United States of America
83,156558,2001,African Americans,Baby Boy,123.0,English Language,United States of America
...,...,...,...,...,...,...,...
450568,24997872,2010,Malayali,Pokkiri Raja,136.0,Malayalam Language,India
450569,24997872,2010,Indian,Pokkiri Raja,136.0,Malayalam Language,India
450614,30553937,1998,Irish Americans,Confessions of a Sexist Pig,91.0,English Language,United States of America
450626,12476867,2002,Jewish people,Spliced,86.0,English Language,Canada
450649,28308153,1957,English people,Five Clues to Fortune,129.0,English Language,United Kingdom

In [2]:
# import pandas as pd
# def merge_all_df(box_office_df, awards, ratings):
#     """
#     Merge all the dataframes together.
#     """

#     # try:
#     box_office_df['Movie_release_date'] = box_office_df['Movie_release_date'].apply(str)
#     df = pd.merge(ratings, box_office_df, on=['Movie_name', 'Movie_release_date'], how='inner')
#     df = pd.merge(df, awards, on=['Movie_name'], how='outer')
#     # in column nomination, we replace 1 by True, otherwise False
#     pd.set_option('future.no_silent_downcasting', True)
#     df['nomination']=df['nomination'].fillna(False)
#     df['nomination']=df['nomination'].replace(1.0,True)
#     success_movies=df.dropna(subset=['Ratings'])
#     # drop unnecessary columns
#     success_movies=success_movies.drop(columns=['Movie_release_date_y'])
#     # rename columns
#     column_names = [
#         "Movie_name",
#         "Movie_release_date",
#         "Ratings",
#         "Wikipedia_movie_ID",
#         "Actor_ethnicity",
#         "Movie_countries",
#         "Movie_box_office_revenue",
#         "Nomination"
#     ]
#     # success_movies.columns = column_names
#     return success_movies

In [3]:
# Import sys to modify the Python path
import sys
import pandas as pd

# Add the folder containing the module to the Python path
sys.path.insert(1, r'src\data')

# Import the main function from the module
import success

ratings = success.ratings_setup()
awards = success.nominations_setup()
# display(awards)
# display(ratings)

success_df = success.merge_all_df(box_office_df, awards, ratings)
display(success_df)

,Movie_name,Movie_release_date,Ratings,Movie_box_office_revenue,Nomination
0,!Women Art Revolution,2010,6.9,NaN,False
1,$,1971,6.3,NaN,False
3,$9.99,2008,6.7,NaN,False
4,'68,1988,5.8,NaN,False
5,'Neath the Arizona Skies,1934,5.0,NaN,False
...,...,...,...,...,...
42927,È l'amor che mi rovina,1951,5.0,NaN,False
42928,Échangistes,2007,4.1,NaN,False
42929,Édes Anna,1958,7.4,NaN,False
42930,Élisa,1995,6.6,NaN,False
42933,Ödipussi,1988,7.4,NaN,False