Diversity: 
1. Reorganise ethnicities into a few groups
2. Establish the Naive Coefficient
3. Add the multiplication by extra coefficient rewarding equal representation

A. Start by making the character_df
NB: final name should be "filtered_character"

In [2]:
#basic imports
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
import seaborn as sns

In [3]:
#load the data
character_metadata = pd.read_csv('../data/character.metadata.tsv', sep='\t')

# Look through the DataFrames:
print(f'the size of the dataframe is:{character_metadata.shape}') #-- (450668, 13)
print(character_metadata.columns) #need to rename the columns

the size of the dataframe is:(450668, 13)
Index(['975900', '/m/03vyhn', '2001-08-24', 'Akooshay', '1958-08-26', 'F',
       '1.62', 'Unnamed: 7', 'Wanda De Jesus', '42', '/m/0bgchxw',
       '/m/0bgcj3x', '/m/03wcfv7'],
      dtype='object')

In [4]:
#rename columns
new_column_names = [
    "Wikipedia_movie_ID",
    "Freebase_movie_ID",
    "Movie_release_date",
    "Character_name",
    "Actor_date_of_birth",
    "Actor_gender",
    "Actor_height_m",
    "Actor_ethnicity",
    "Actor_name",
    "Actor_age_at_movie_release",
    "Freebase_character_actor_map_ID",
    "Freebase_character_ID",
    "Freebase_actor_ID"
]
character_metadata.columns = new_column_names

In [5]:
columns_to_check = ['Wikipedia_movie_ID', 'Movie_release_date', 'Actor_ethnicity']
remaining_rows = {col: character_metadata[col].dropna().shape[0] for col in columns_to_check}
for col, count in remaining_rows.items():
    print(f"Remaining rows for '{col}': {count}")

filtered_character = character_metadata[['Wikipedia_movie_ID', 'Movie_release_date', 'Actor_ethnicity']].dropna(subset=['Actor_ethnicity']) # no missing value remaining in each col

Remaining rows for 'Wikipedia_movie_ID': 450668
Remaining rows for 'Movie_release_date': 440673
Remaining rows for 'Actor_ethnicity': 106058

In [6]:
#homogeneous release dates (only the year)
filtered_character['Movie_release_date'] = filtered_character['Movie_release_date'].astype(str).str[:4]

We now have a dataframe, but with freebase_id for ethnicity. We define the function to find the right labels corresponding to the id.

In [7]:
def fb_to_label(freebase_id,conversion_table):
    if freebase_id in conversion_table.index:
        return conversion_table.loc[freebase_id,'label']
    else:
        return None

We found a table online with freebase_id, wikidata_id & Label
We import it, but it has 2 million lines --> we will select only the lines we need, i.e. the lines of the ethnicity id we have in our filtered_character

In [8]:
#import the file, setting freebase_id as index allows us to use .loc later
fb_wiki_gen = pd.read_csv('../data/fb_wiki_mapping.tsv',sep='\t')
fb_wiki_gen.set_index('freebase_id',inplace=True)

In [9]:
#make list of different existing ethnicities
ethnicities_list = filtered_character['Actor_ethnicity'].unique().tolist()
#now select those from the fb_wiki_gen
fb_wiki_ethnic = fb_wiki_gen.loc[fb_wiki_gen.index.isin(ethnicities_list)]

In [10]:
#we can now change the Actor_ethnicity column from freebase_id to label
filtered_character['Actor_ethnicity']=filtered_character['Actor_ethnicity'].apply(fb_to_label,conversion_table=fb_wiki_ethnic)
#some freebase_ids couldn't be found, so we get None. We will now drop those None values
filtered_character = filtered_character.dropna(subset=['Actor_ethnicity'])

In [12]:
filtered_character.sample(5)

        Wikipedia_movie_ID Movie_release_date    Actor_ethnicity
221935             7657105               1994    Irish Americans
140759             7323790               1980      Jewish people
184660            15402569               2008      Jewish people
122693              684771               1998       Welsh people
406098              435566               1996  Italian Americans

We now have the right dataframe to Analyse diversity, but we have too many different ethnicities. We want to remove the very specific ones and group them together in more general ones.

In [ ]:
#Key:
#

In [ ]:
#import openai

In [ ]:
#openai.api_key = ''

#openai.api_key = os.getenv('OPENAI_API_KEY')